# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = Samuel Barton
	email = srbarton43@gmail.com
[init]
	defaultBranch = main

[mergetool "nvim"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
 
[merge]
  tool = nvim

[mergetool]
  prompt = false
  keepBackup = false

[core]
  pager = delta
	excludesFile = ~/dotfiles/.gitignore
  editor = nvim

[safe]
	directory = /Users/sbarton/Desktop/ /Skewl/Darty/21F/COSC010/cs10
[alias]
	root = rev-parse --show-toplevel
