# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = Samuel Barton
	email = samuel.r.barton.25@dartmouth.edu

[init]
	defaultBranch = main

[mergetool "nvim"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
 
[merge]
  tool = nvim

[mergetool]
  prompt = false
  keepBackup = false

[core]
	excludesFile = /thayerfs/home/f005cz5/.gitignore
  pager = less -R
  editor = nvim
